.charger-detail-container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 12px;
  background: #f5f5f5;
  h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  p {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    margin: 0.8rem 0;
    padding: 0.5rem 0;
    border-bottom: 1x solid #ddd;
  }
  .back-button {
    width:100px;
    display: block;
    margin: 2rem auto 0 auto;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;

    &:hover{
        transform: scale(1.05);
        transition: 0.2s;
    }
  }
}

